body, div, ul{margin:0; padding:0;}

body{
	background-color:#F5F5F5;
	font-family: 'Noto Sans', sans-serif;
	font-size:13px;
}

.global{
	width:1200px; 
	margin:0 auto;
	background-color:lavender;
}

.entete{
	height:80px;
	padding:10px;
	background-color:lightgray;
	font-size:14px;
	color:black;
}

.blocmenu, .contenu{
	box-sizing: border-box;
	display:inline-block;
	vertical-align: top;
}

.blocmenu{
	width:200px;
}

.contenu{
	width:1000px;
	padding:10px;
	padding-left: 30px;
	background-color:white;
	margin: 0 auto;
}

.realisateur, .acteur{
	display:inline-block;
	text-align: center;
	border: 3px solid white;
  	margin: 5px;
  	padding: 5px 0;
}

.sous-titre{
	color:grey;
	font-size:11px;
}

.pied{
	border-top:solid lavender;
	border-top-width: :2px;
	padding:30px;
	background-color:lightgray;
	height:80px;
	text-align: center;
	color:#3C454D;
}

#menu{
	display:flex;
	list-style-type: none;
}

#menu li{
	flex:0 1 auto;
}

#menu li a, #menu li a:visited{
	display: block;
	height:50px;
	line-height: 35px;
	padding: 15px 50px;
	font-size:15px;
	text-decoration:none;
	color:black;
}

#menu li a:hover{
	background-color:lightsteelblue;
	color:brown;
}

#bandeannonce{
	height:500px;
	background-color:white;
}

#bandeannonce h1{
	color:black;
	font-size:40px;
	text-align:center;
}

.container{
	margin:0px 10%;
}

.left{
	float:left;
	width:50%;
}

.right{
	float:left;
	width:50%;
}

/* Mise en forme slider */
#slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 400px;
}

#slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
}

#slides figure {
    display: inline-block;
    width: 100vw;
    max-height: 100%;
    margin: 0;
}

#slides figure img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#slides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

@keyframes slide {
    0%, 20%, 100% {
        left: 0; /*1ère image*/
    }
    35%, 50% {
        left: -100vw; /*2ème image*/
    }
    70%, 95% {
        left: -200vw; /*3ème image*/
    }
}

#slides {
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#slides:hover {
    animation-play-state: paused; /* Mise en pause de l'animation */
}

#play {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgba(255,255,255,0.7);
    display: none;
    text-indent: -9999px;
}
